<div class="row animated fadeI">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="searchForm">
          <input #input formControlName="searchUserTxt" type="text" class="form-control" placeholder="Search user"/>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Loading</strong>
      <br/>
      <i class="fa fa-refresh fa-spin fs-2x"></i>
    </div>
  </div>
</div>

<div class="row animated fadeI" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h3 class="card-title">Users (<small>{{total}}</small>)</h3>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Picture</th>
              <th>Email</th>
              <th>Name</th>
              <th>Role</th>
              <th class="text-left">Auth</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                <img class="w50 pointer-cm" [src]="user.img | image: {type: 'user'}" (click)="openFancy(user)">
              </td>
              <td>{{user.email}}</td>
              <td>{{user.name}} {{user.lastname}}</td>
              <td class="align-middle">
                <select [(ngModel)]="user.role" name="role" class="form-control">
                  <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                  <option value="USER_ROLE">USER_ROLE</option>
                </select>
              </td>
              <td class="text-center align-middle">
                <i class="mdi mdi-email" [hidden]="user.google"></i>
                <i class="fa fa-google-plus" [hidden]="!user.google"></i>
              </td>
              <td class="text-left align-middle">
                <button class="btn cm-mgr btn-info" (click)="updateUser(user)"><i class="fa fa-save"></i></button>
                <button class="btn cm-mgr btn-danger" *ngIf="!isMyUser(user._id)" (click)="deleteUser(user)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <button class="btn cm-mgr btn-light" [disabled]="from == 0" (click)="pagination('prev')">Previous</button>
        {{from+1}} / {{totalPages}}
        <button class="btn cm-mgl btn-light" [disabled]="!next" (click)="pagination('next')">Next</button>

      </div>
    </div>
  </div>
</div>
<div class="bkg-fancy animated fadeIn" *ngIf="userFancyData">
  <div class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upoad picture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeFancy()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" align="center">
          <app-upload-picture [image]="userFancyData.img" [typeImage]="'user'" (updatePictureEv)="savePicture($event)"></app-upload-picture>
        </div>
      </div>
    </div>
  </div>
</div>