<img class="w150" [src]="(!imgTemp) ? (image | image: {type: typeImage}) : imgTemp" alt="user">
<input name="file" (change)="picturSelected($event.target.files[0])" type="file" #inputUploadFile [hidden]="true" />
<br /><br />
<button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" (click)="actionUpload()">
  <i class="fa fa-cloud-upload"></i> Upload picture
</button>
<br /><br />
<button type="submit" [disabled]="!pictureToUpload" (click)="updatePicture()" class="btn btn-block btn-success waves-effect waves-light m-r-10">
  <i class="fa fa-save"></i> Save
</button>