<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Light sidebar</h4>
				<hr>
				<div class="r-panel-body">
					<ul id="themecolors" class="m-t-20">
						<li><a #link1 theme="default" (click)="changeColor('default', link1)" class="selector default-theme">1</a></li>
						<li><a #link2 theme="green" (click)="changeColor('green', link2)" class="selector green-theme">2</a></li>
						<li><a #link3 theme="red" (click)="changeColor('red', link3)" class="selector red-theme">3</a></li>
						<li><a #link4 theme="blue" (click)="changeColor('blue', link4)" class="selector blue-theme">4</a></li>
						<li><a #link5 theme="purple" (click)="changeColor('purple', link5)" class="selector purple-theme">5</a></li>
						<li><a #link6 theme="megna" (click)="changeColor('megna', link6)" class="selector megna-theme">6</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Dark sidebar</h4>
				<hr>
				<div class="r-panel-body">
					<ul id="themecolors" class="m-t-20">
						<li><a #link7 theme="default-dark" (click)="changeColor('default-dark', link7)" class="selector default-dark-theme">7</a></li>
						<li><a #link8 theme="green-dark" (click)="changeColor('green-dark', link8)" class="selector green-dark-theme">8</a></li>
						<li><a #link9 theme="red-dark" (click)="changeColor('red-dark', link9)" class="selector red-dark-theme">9</a></li>
						<li><a #link10 theme="blue-dark" (click)="changeColor('blue-dark', link10)" class="selector blue-dark-theme">10</a></li>
						<li><a #link11 theme="purple-dark" (click)="changeColor('purple-dark', link11)" class="selector purple-dark-theme">11</a></li>
						<li><a #link12 theme="megna-dark" (click)="changeColor('megna-dark', link12)" class="selector megna-dark-theme">12</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
